*{
    padding: 0;
    margin: 0;
    font-family: 'DynaPuff', cursive;
}

:root{
    --teal: #20c997;
    --indigo: #6610f2;
    --transition: all 400ms ease;
}

.card{
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

li{
    list-style: none;
}

a{
    color: var(--indigo);
    text-decoration: none;
}

body::-webkit-scrollbar{
    width: 0.25rem;
}

body::-webkit-scrollbar-track{
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb{
    background: teal;
}