nav{
    display: flex;
    width: 100%;
    height: 3rem;
    background-color: var(--bg-secondary);
    border-radius: 4px;
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}

.nav-item{
    width: 100%;
    padding: 1rem;
}

.nav-item ul{
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.nav-item ul li a{
    text-decoration: none;
    color: var(--text-primary);
    text-align: center;
    padding: 14px 16px;
    transition: all 400ms;
}

.nav-item ul li a:hover {
    background-color: var(--bg-primary);
  }

/* social icons */
.socials ul{
    display: flex;
    justify-content: center;
}

/* menu */
.menu{
    flex: 200%;
}

.menu ul{
    display: flex;
    justify-content: center;
}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: var(--bg-secondary);
    min-width: 160px;
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    padding: 0.5rem 1rem;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
}

/* search box */
form{
    box-sizing: border-box;
    display: flex;
}
.search-box input[type=text]{
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: var(--bg-primary);
    color: var(--text-primary);
}

.search-box button{
    float: left;
    width: 20%;
    padding: 0.5rem;
    background: var(--bg-primary);
    color: var(--text-primary);
    font-size: 1rem;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}